*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color-darkestblue: #060314;
    --color-darkblue: #090F26;
    --color-midtblue: #101F38;

    --color-lightblue: #365a84;
    --color-container: rgba(16, 31, 56, 0.77);
    --color-navigation: rgb(35, 64, 100);
}

img {
    width: 100%;
}


/**GENERELLE STYLINGS**/

body {
    font-family: 'Niramit', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(grafik/baggrund.png);
    background-repeat: no-repeat;
    margin: 0;
}

/***LOGO***/

.logo img {
    position: absolute;
    height: 11rem;
    width: 22rem;
    top: 9.5rem;
    right: 1rem;
}

.citat p {
    position: absolute;
    top: 19rem;
    right: -0.3rem;
    color: white;
    font-family: 'Niramit', sans-serif;
    font-style: italic;
    font-size: 0.8rem;
    color: var(--color-lightblue);
    width: 10rem;
    line-height: 1rem;

}

/****BURGERMENU****/

nav a {
    font-family: 'Niramit', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

nav a:hover {
    color: var(--color-lightblue);
}

label .menu {
    position: fixed;
    top: 580px;
    left: 280px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: var(--color-navigation);
    border-radius: 50% 50% 50% 50%;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 var(--color-navigation), 0 0 0 0 var(--color-navigation);
    cursor: pointer;

}

label .hamburger {
    position: fixed;
    top: 635px;
    left: 320px;
    width: 40px;
    height: 3px;
    background: white;
    display: block;
    transform-origin: center;
    transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked + .menu {
    /*box-shadow: 0 0 0 100vw var(--color-navigation), 0 0 0 100vh var(--color-navigation);*/
    box-shadow: 0 0 0 var(--color-navigation), 0 0 0 100vh var(--color-navigation);
    border-radius: 0;
}

label input:checked + .menu .hamburger {
    transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked + .menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

label input:checked + .menu + ul {
    opacity: 2;
}

label ul {
    z-index: 200;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.25s 0s ease-in-out;
    list-style-type: none;

}

label a {
    margin-bottom: 1em;
    display: block;
    color: white;
    text-decoration: none;
}


/**NAVIGATION**/

.social1 {
    position: absolute;
    z-index: 300;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;

}

.social2 {
    position: absolute;
    z-index: 300;
    top: 1rem;
    right: 3.6rem;
    height: 2rem;
    width: 2rem;

}

.social3 {
    position: absolute;
    z-index: 300;
    top: 1rem;
    right: 6rem;
    height: 2rem;
    width: 2rem;

}


/***MENU*****/

.overskrift h1 {
    font-family: 'Lovers Quarrel', cursive;
    text-transform: lowercase;
    font-size: 3rem;
    text-align: center;
    color: white;
}

h3 {
    font-family: 'Niramit', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.valgt {
    color: var(--color-lightblue);
}


/*Retterne individuelt*/

#liste {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    grid-gap: 2rem;
}

.minret {
    padding: 1rem;
    background-color: white;
}


pop up vindue #popup {
    top: 0;
    width: 100vw;
    height: 100vw;
    position: fixed;
    background-color: hsla(0, 0%, 50%, 0.67);
    display: none;
    overflow: scroll;
}

#indhold {
    min-height: 50vh;
    background-color: white;
    width: 70vw;
    margin: 4rem auto;
}

#luk {
    position: fixed;
    right: 4rem;
    top: 4.3rem;

}

#luk button {
    font-size: 1rem;
    padding: 0.5rem 1.rem;
    height: 2.4rem;
    width: 3.5rem;
    border-radius: 40px;
    background: darkorange;
}


@media only screen and (min-width:600px) {
    #liste {
        grid-template-columns: repeat(2, 1fr);
    }

    #luk {
        right: 6rem;
    }

    .header {
        height: 20vw;
    }

    .header h1 {
        font-size: 3rem;
    }



}

@media only screen and (min-width:768px) {
    #liste {
        grid-template-columns: repeat(3, 1fr);
    }

    #luk {
        right: 11.5rem;
    }

    .header {
        height: 10vw;
    }

    footer {
        font-size: 1.2rem;
    }
}
